{% extends 'base.html' %}
{% block title %}About - SMS{% endblock %}
{% block content %}
<div class="card about-content">
  <h2>About Us</h2>
  <p class="caption">Learn more about the Student Management System</p>

  <div class="about-grid">
    <div class="about-item">
      <div class="about-icon icon-purple">&#127891;</div>
      <div class="about-text">We are a team of passionate developers dedicated to creating innovative solutions for education. Our mission is to provide high-quality tools that enhance the academic experience.</div>
    </div>
    <div class="about-item">
      <div class="about-icon icon-blue">&#128187;</div>
      <div class="about-text">Our team consists of experienced professionals with diverse backgrounds in software development, design, and project management. We work collaboratively to build user-friendly products.</div>
    </div>
    <div class="about-item">
      <div class="about-icon icon-green">&#128200;</div>
      <div class="about-text">We believe in continuous improvement and are committed to staying up-to-date with the latest technologies. Our goal is to deliver exceptional value and build lasting relationships.</div>
    </div>
  </div>
</div>
{% endblock %}
