{% extends 'base.html' %}
{% block title %}Login - SMS{% endblock %}
{% block content %}
<div class="card">
  <h2>Login</h2>
  <form method="POST" action="{{ url_for('login') }}" class="form-grid">
    <div>
      <label>Email</label>
      <input type="email" name="email" required />
    </div><br>
    <div>
      <label>Password</label>
      <input type="password" name="password" required />
    </div><br>
    <div class="actions">
      <button type="submit" class="button">Login</button>
    </div>
  </form>
</div>
{% endblock %}